# 3 CB Descriptive Statistical Analysis

### This script contains the following points
#### 01 Import Libraries
#### 02 Import Data
#### 03 First Look at Data
#### 04 Descriptive Statistics

# 01 Import Libraries

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# 02 Import Data

In [2]:
# Set the data path

path = r'C:\Users\Tina\Desktop\CareerFoundry\Data Analytics Immersion\Chocolate Bar Rating'

In [3]:
# Import the "checked_chocolate_bars" file

choco_ch = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'checked_chocolate_bars.csv'), index_col = False)

# 03 First Look at Data

In [4]:
# Shape of "choco_ch"

choco_ch.shape

(1722, 10)

In [5]:
# First few rows of "choco_ch"

choco_ch.head()

,Unnamed: 0,company,bar_name,ref,review_date,cocoa_percent,company_location,rating,bean_type,bean_origin
0,0,A. Morin,Agua Grande,1876,2016,63.0,France,3.75,,Sao Tome
1,1,A. Morin,Kpime,1676,2015,70.0,France,2.75,,Togo
2,2,A. Morin,Atsane,1676,2015,70.0,France,3.00,,Togo
3,3,A. Morin,Akata,1680,2015,70.0,France,3.50,,Togo
4,4,A. Morin,Quilla,1704,2015,70.0,France,3.50,,Peru

In [6]:
# Drop "Unnamed: 0" column

choco_ch = choco_ch.drop(columns =['Unnamed: 0'])

In [7]:
choco_ch.head()

,company,bar_name,ref,review_date,cocoa_percent,company_location,rating,bean_type,bean_origin
0,A. Morin,Agua Grande,1876,2016,63.0,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70.0,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70.0,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70.0,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70.0,France,3.50,,Peru

In [8]:
# Data types of "choco_ch"

choco_ch.dtypes

company              object
bar_name             object
ref                   int64
review_date           int64
cocoa_percent       float64
company_location     object
rating              float64
bean_type            object
bean_origin          object
dtype: object

# 04 Descriptive Statistics

In [10]:
# Descriptive statistics of "choco_wr"

choco_wr.describe()

               ref  review_date  cocoa_percent       rating
count  1795.000000  1795.000000    1795.000000  1795.000000
mean   1035.904735  2012.325348      71.698329     3.185933
std     552.886365     2.927210       6.323118     0.478062
min       5.000000  2006.000000      42.000000     1.000000
25%     576.000000  2010.000000      70.000000     2.875000
50%    1069.000000  2013.000000      70.000000     3.250000
75%    1502.000000  2015.000000      75.000000     3.500000
max    1952.000000  2017.000000     100.000000     5.000000